<div class="comments">
	<h3>留言(<%= post.comments.length %>): </h3>
	<div class="comment">	
		<% post.comments.forEach(function(comment,index){ %> 
			<% if(!comment.parent_id){ %>
			<div class="comment-head">
				<p>
					<!--<img src="<%= comment.head %>" class="r_head" />-->
					<span><u><%= comment.name %></u></span> 
					<span class="info"> 回复于 <%- comment.time %></span>
				</p>
				<% if(comment.hide && comment.hide == true){ %> 
					<div class="content comment-hide">评论已被隐藏  <a href="#" class="show-reason">点此查看原因<span class="iconfont">&#xe608;</span>
					</a>
					<p class="hide-reason">该回复中可能含有广告、病毒链接等违法信息，或使用了敏感的、不文明的词汇，请文明用语，禁止广告！</p>			
					</div>
					
					<% if(user){ %> 
						<a href="/removecomment/<%= post._id %>?comment_id=<%= comment.comment_id %> " class="r_head">删除</a>
						<a href="/showcomment/<%= post._id %>?comment_id=<%= comment.comment_id %> " class="r_head">恢复</a>
					<% } %>			
				<% }else{ %> 
					<pre class="content"><%- comment.content %></pre>
					<% if(user){ %>
						<a href="/removecomment/<%= post._id %>?comment_id=<%= comment.comment_id %> " class="r_head">删除</a> 
						<a href="/hidecomment/<%= post._id %>?comment_id=<%= comment.comment_id %> " class="r_head">隐藏</a>
					<% } %>
				<% } %>
						
				<a  class="reply" href="#">回复</a>			
				<div class="add-reply">
					<form method="post" name="form" class="blog-form comment-form" action="/p/<%= post._id %>?parent_id=<%= comment.comment_id %>">
						<% if(user){ %>
							<div>
								<label for="name">您的大名：</label>
								<input type="text" name="name" id="name" value="<%= user.name %>" tabindex="1" required/> <span class="required">*</span>
							</div>
							<div>
								<label for="emai;">邮箱：</label>
								<input type="email" name="email" id="email" value="<%= user.email %>" tabindex="2" />
							</div>
							<div>
								<label for="website">网址：</label>
								<input type="text" name="website" id="website" value="/u/<%= user.name %>" tabindex="3" />
							</div>
						<% }else { %>
							<div>
								<label for="name">您的大名：</label>
								<input type="text" name="name" id="name" value="" tabindex="1" required/>
								<span class="required">*</span>
							</div>
							<div>
								<label for="email">邮箱：</label>
								<input type="email" name="email" id="email" value="" tabindex="2" />
							</div>
							<div>
								<label for="website">网址：</label>
								<input type="text" name="website" id="website" value="http://" tabindex="3" />
							</div>
						<% } %>
						<div>
							<label for="content">回复 <u><%= comment.name %></u>：</label><br />
							<textarea cols="60" rows="10" name="content" class="commentarea kindeditor"></textarea>
						</div>

						<input type="submit" value="回复" class="btn-reply btn-comment btn btn-primary" />
					</form>
				</div>
			</div>
			<% } %>
			<% post.comments.forEach(function(comment2,index){ %>
				<% if(comment2.parent_id && comment2.parent_id == comment.comment_id){ %> 
					<div class="comment-reply">
						<p>
							<!--<img src="<%= comment2.head %>" class="r_head" />-->
							<span><u><%= comment2.name %></u></span> 
							<span class="info">  回复@ <u><%= comment.name %></u>  <%= comment2.time %></span>
						</p>
						<% if(comment2.hide && comment2.hide == true){ %> 
							<div class="content comment-hide">评论已被隐藏  <a href="#" class="show-reason">点此查看原因<span class="iconfont">&#xe608;</span>
							</a>
							<p class="hide-reason">该回复中可能含有广告、病毒链接等违法信息，或使用了敏感的、不文明的词汇，请文明用语，禁止广告！</p>			
							</div>
							
							<% if(user){ %> 
								<a href="/removecomment/<%= post._id %>?comment_id=<%= comment2.comment_id %> " class="r_head">删除</a>
								<a href="/showcomment/<%= post._id %>?comment_id=<%= comment2.comment_id %> " class="r_head">恢复</a>
							<% } %>			
						<% }else{ %> 
							<pre class="content"><%- comment2.content %></pre>
							<% if(user){ %>
								<a href="/removecomment/<%= post._id %>?comment_id=<%= comment2.comment_id %> " class="r_head">删除</a> 
								<a href="/hidecomment/<%= post._id %>?comment_id=<%= comment2.comment_id %> " class="r_head">隐藏</a>
							<% } %>
						<% } %>		
						<a  class="reply" href="#">回复</a>
						<div class="add-reply">
							<form method="post" name="form" class="blog-form comment-form" action="/p/<%= post._id %>?parent_id=<%= comment2.comment_id %>">
								<% if(user){ %>
									<div>
										<label for="name">您的大名：</label>
										<input type="text" name="name" id="name" value="<%= user.name %>" tabindex="1" required/><span class="required">*</span>
									</div>
									<div>
										<label for="emai;">邮箱：</label>
										<input type="email" name="email" id="email" value="<%= user.email %>" tabindex="2" />
									</div>
									<div>
										<label for="website">网址：</label>
										<input type="text" name="website" id="website" value="/u/<%= user.name %>" tabindex="3" />
									</div>
								<% }else { %>
									<div>
										<label for="name">您的大名：</label>
										<input type="text" name="name" id="name" value="" tabindex="1" required/>
										<span class="required">*</span>
									</div>
									<div>
										<label for="email">邮箱：</label>
										<input type="email" name="email" id="email" value="" tabindex="2" />
									</div>
									<div>
										<label for="website">网址：</label>
										<input type="text" name="website" id="website" value="http://" tabindex="3" />
									</div>
								<% } %>
								<div>
									<label for="content">回复 <u><%= comment2.name %></u>：</label><br />
									<textarea cols="60" rows="10" name='content' tabindex="4" class="commentarea kindeditor"></textarea>
								</div>
								<input type="submit" value="回复" class="btn-reply btn-comment btn btn-primary" />
							</form>
						</div>
						<!-- <% if(user && (user.name == 'root')){ %> 
							<a href="/removecomment/<%= post._id %>?comment_id=<%= comment2.comment_id %> " class="r_head">删除</a>
						<% } %> -->
					</div>
				<% } %>
			<% }) %>			
		<% }) %>
	</div>
 	<div class="write-comment">
	 	<h3>您怎么看：</h3>
	 	<%- include reply %>
 	</div>
</div>
